rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isLoggedIn() {
      return request.auth != null;
    }
    function isOwn(uid) {
      return isLoggedIn() && request.auth.uid == uid;
    }

    match /messages/{messageId}/{fileName} {
      allow read: if isLoggedIn();
      allow write: if isOwn(request.resource.metadata.ownerId);
    }
  }
}
